<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/93e8e5ee-0e0d-4777-a43d-6e687c1f094e/v3/index.json" />
  </packageSources>
</configuration>